$mercury-color: #419EBB;
$venus-color: #EDA249;
$earth-color: #6D2ED5;
$mars-color: #D14C32;
$jupiter-color: #D83A34;
$saturn-color: #CD5120;
$uranus-color: #1EC1A2;
$neptune-color: #2D68F0;



button {
    background: none;
    border: none;
    color: rgba(255,255,255, 0.5);
    padding: 20px 4px;
    font-family: Spartan;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1.92857px;
}


.active {
    border-bottom: 4px solid;
    color: #ffffff;
    
}

.active.active-mercury {
    border-color: $mercury-color;
}

.active.active-venus {
    border-color: $venus-color;
}

.active.active-earth {
    border-color: $earth-color;
}

.active.active-mars {
    border-color: $mars-color;
}

.active.active-jupiter {
    border-color: $jupiter-color;
}

.active.active-saturn {
    border-color: $saturn-color;
}

.active.active-uranus {
    border-color: $uranus-color;
}

.active.active-neptune {
    border-color: $neptune-color;
}
   
@media all and (min-width: 630px) {
    button {
        display: flex;
        padding: 12px 28px;
        margin-bottom: 23px;
        border: 1px solid rgba(255,255,255, 0.5);
    }

    button span:last-of-type {
        margin-left: 17px;
        color: #ffffff;
    }

    
    .active {
        background-color: none;
    }
    
    .active.active-mercury {
        background-color: $mercury-color;
    }
    
    .active.active-venus {
        background-color: $venus-color;
    }
    
    .active.active-earth {
        background-color: $earth-color;
    }
    
    .active.active-mars {
        background-color: $mars-color;
    }
    
    .active.active-jupiter {
        background-color: $jupiter-color;
    }
    
    .active.active-saturn {
        background-color: $saturn-color;
    }
    
    .active.active-uranus {
        background-color: $uranus-color;
    
    }
    .active.active-neptune {
        background-color: $neptune-color;
    }

}

@media all and (min-width: 1200px) {
button {
    font-size: 14px;
}
}