button {
    background: none;
    border: none;
    color: rgba(255,255,255, 0.5);
    padding: 20px 4px;
    font-family: Spartan;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1.92857px;
}


.active {
    border-bottom: 4px solid;
    color: #ffffff;
    
}

.active.active-mercury {
    border-color: #419EBB;
}

.active.active-venus {
    border-color: #EDA249;
}

.active.active-earth {
    border-color: #6D2ED5;
}

.active.active-mars {
    border-color: #D14C32;
}

.active.active-jupiter {
    border-color: #D83A34;
}

.active.active-saturn {
    border-color: #CD5120;
}

.active.active-uranus {
    border-color: #1EC1A2;

}
.active.active-neptune {
    border-color: #2D68F0;
}
   
@media all and (min-width: 630px) {
    button {
        display: flex;
        padding: 12px 28px;
        margin-bottom: 23px;
        border: 1px solid rgba(255,255,255, 0.5);
    }

    button span:last-of-type {
        margin-left: 17px;
        color: #ffffff;
    }

    
    .active {
        background-color: none;
    }
    
    .active.active-mercury {
        background-color: #419EBB;
    }
    
    .active.active-venus {
        background-color: #EDA249;
    }
    
    .active.active-earth {
        background-color: #6D2ED5;
    }
    
    .active.active-mars {
        background-color: #D14C32;
    }
    
    .active.active-jupiter {
        background-color: #D83A34;
    }
    
    .active.active-saturn {
        background-color: #CD5120;
    }
    
    .active.active-uranus {
        background-color: #1EC1A2;
    
    }
    .active.active-neptune {
        background-color: #2D68F0;
    }

}