
.planet-images {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: -10px;
    
    
    .planet-geology-image {
       position: absolute;
       width: 15%;
    }
}

div > .planet-header {
    margin: 100px 0px 0px 0px;
    text-align: center;
}

.planet-header {
    font-family: Antonio;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 16px;
}

@media all and (min-width: 630px) {
    .planet-content-container {
        display: flex;
        justify-content: space-between;
        margin: 0px 40px;
    }

    div > .planet-header {
        text-align: left;
        margin-left: 40px;

    }


}