@font-face {
    font-family: Antonio;
    src: url("../public/fonts/Antonio.ttf");
}

@font-face {
    font-family: Spartan;
    src: url("../public/fonts/Spartan.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    background: url("../public/assets/background-stars.svg"), #070724;
    height: 100%;
    color: #ffffff;
}

.App {
    display: flex;
    flex-direction: column;
  
}